* {
  box-sizing: border-box;
  }

  html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px; 
  color: #666;
  }

  input, textarea { 
  outline: none;
  }

  body {
  background-color: rgb(255, 255, 255);
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  }

  .logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title{
    font-weight: 600;
    font-size: 2rem;
  }

  .tracker{
    color: #a5a4cb;
  }

  h1 {
  margin-top: 0;
  font-weight: 500;
  }

  form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #ecdfdf;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-inner {
  padding: 40px;
  padding-top: 0;
  }
  .form-inner input,
  .form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
  }
  .form-inner textarea {
  resize: none;
  }
  .submit {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #8989bb;
  background: #a5a4cb; 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  }

  button:hover {
  background: #8989bb;
  } 

  .admin {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: right;
    justify-content: flex-end;
  }

  .admin-btn{
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    background: #a5a4cb;
    border: none;
    color: rgb(255, 253, 253);
    font-weight: 500;
    border-radius: 10px;
  }

  .admin-btn:hover {
    background: #8989bb;
  }

  .alert {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid transparent;
  }
  
  @media (min-width: 568px) {
  form {
  width: 60%;
  }
  }